{
  "mcpServers": {
    "aws-kb-retrieval-server": {
      "env": {
        "AWS_ACCESS_KEY_ID": "PUT_YOUR_KEY_HERE",
        "AWS_SECRET_ACCESS_KEY": "PUT_YOUR_SECRET_HERE",
        "AWS_REGION": "eu-west-2"
      }
    }
  }
}
