fastapi==0.115.0
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
boto3==1.35.20
opensearch-py==2.6.0
SQLAlchemy==2.0.35
alembic==1.13.1
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic-settings==2.5.2
email-validator==2.1.0
redis==5.0.8
celery==5.4.0
python-multipart==0.0.9
aiofiles==24.1.0
requests==2.32.3
passlib[bcrypt]==1.7.4
python-jose==3.3.0
PyPDF2==3.0.1
reportlab==4.1.0
python-magic==0.4.27
sentence-transformers==3.3.0
transformers==4.46.0
torch==2.5.1
numpy==1.26.4
requests-aws4auth==1.2.3
